{% extends 'base.html.twig' %}

{% block title %}Hello ReadPostController!{% endblock %}

{% block body %}

    {% for type, messages in app.flashes() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <div class="col-6 d-flex justify-content-center">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Update/Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for post in listPost %}
                <tr>
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>
                        <a href="/update/{{post.id}}" class="btn btn-warning">Update</a>
                    </td>
                </tr>             
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
